@using Org.BouncyCastle.Asn1.Ocsp
@model AspPlanApp.Models.ReservViewModels.OrgDateViewModel
@{
    ViewBag.Title = "Calendar of Company";
    Layout = "_Layout";
}


@section Styles
{
    <link rel="stylesheet" href="/lib/fullcalendar/core/main.min.css" />
    <link rel="stylesheet" href="/lib/fullcalendar/daygrid/main.min.css" />
    <link rel="stylesheet" href="/lib/fullcalendar/timegrid/main.min.css" />
}

<div class="container-fluid h-100">
    <div class="header-margin">
        <div style="text-align: center;">
            <h2>@Model.orgName</h2>
        </div>
        <div id="calendar" orgId="@Model.orgId" dateCal="@Model.dateCal"></div>
    </div>
    <div id="resInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p id="pDetails"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="addReserve" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="eventTitle">Add new event</span></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    
                    <form id="js-event-form" asp-action="AddNewEvent" asp-controller="Reserv" >

                        <div>
                            <input name="orgId" value="@Model.orgId" type="hidden"/>
                            
                            <label for="dateFrom" class="control-label">Start event time</label>
                            <input id="js-add-event-datefrom"
                                   type="datetime-local"
                                   name="dateFrom"
                                   class="form-control"/>

                            <label for="dateTo" class="control-label">Finish event time</label>
                            <input id="js-add-event-dateto"
                                   type="datetime-local"
                                   name="dateTo"
                                   class="form-control"/>

                            @if (Model.staffInfo.Length > 0)
                            {
                                <label for="Staff" class="control-label">Staff for event</label>
                                <select id="js-add-event-staff" name="Staff" class="form-control">
                                    <option value="" disabled selected>Select Staff</option>
                                    @foreach (var staffItem in Model.staffInfo)
                                    {
                                        <option value="@staffItem.orgStaffId">@staffItem.staffName</option>
                                    }
                                </select>
                            }

                            <label for="comment" class="control-label">Your comment</label>
                            <input id="js-add-event-comm" type="text" name="comm" class="form-control"/>
                        </div>
                    <br/>
                    <button id="js-add-event" class="button-main" type="submit">Save</button>
                    
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/lib/fullcalendar/core/main.min.js"></script>
    <script src="/lib/fullcalendar/interaction/main.min.js"></script>
    <script src="/lib/fullcalendar/daygrid/main.min.js"></script>
    <script src="/lib/fullcalendar/timegrid/main.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    
    <script>
        
        $(document).ready(function () {
            
            var userAuthorized = @User.Identity.IsAuthenticated.ToString().ToLower();

            GetOrgEventReserves();

            $('#js-add-event').on('click', function(event) {

                var res = $("#js-event-form").validate({
                    rules: {
                        dateFrom: { required: true },
                        dateTo: { required: true }
                    },
                    messages: {
                        dateFrom: "Input date and time!",
                        dateTo: "Input date and time!"
                    },
                    focusInvalid: true,
                    errorClass: "input_error"
                });

            });

            function GetOrgEventReserves () {
                
                var events = [];
                var calDiv = $('#calendar');
                
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetReserv", "Api")",
                    data: {
                        orgId: calDiv.attr('orgId'),
                        dateCal: calDiv.attr('dateCal')
                    },
                    success: function(data) {
                        $.each(data, function(i, v) {
                            console.log(v);
                            events.push({
                                title: (v.isMy ? 'Your reserve ' : '') + ' Staff: ' + v.staffName,
                                description: v.comment,
                                isconfirmed: v.isConfirm,
                                ismy: v.isMy,
                                start: v.dateFrom,
                                end: v.dateTo,
                                allDay: false,
                                backgroundColor: v.isConfirm ? '#FF6E40' : '#848484',
                                borderColor: v.isConfirm ? '#FF6E40' : '#848484'
                            });
                        });

                        GenerateCalendar(events);
                    },
                    error: function(error) {
                        console.log(error);
                        alert('failed\r\n' + error);
                    }
                });
            }
            
            function GenerateCalendar(events) {
                
                $('#calendar').html('');

                var calendarEl = document.getElementById('calendar');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                    contentHeight: 500,
                    allDaySlot: false,
                    plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
                    defaultView: 'timeGridWeek',
                    defaultDate: calendarEl.getAttribute('dateCal'),
                    timeFormat: 'h(:mm)a',
                    eventLimit: true,
                    eventColor: '#FF6E40',
                    firstHour: 9,
                    firstDay: 1,
                    minTime: '09:00:00',
                    maxTime: '19:00:00',
                    businessHours: {
                        daysOfWeek: [ 1, 2, 3, 4, 5, 6, 0 ], 

                        startTime: '10:00',
                        endTime: '18:00'
                    },
                    customButtons: {
                        addButton: {
                            text: 'Make a reservation',
                            click: function() {
                                
                                if (!userAuthorized) {
                                    window.location.href = "@Url.Action("Login", "Account")";
                                }
                                
                                $('#addReserve').modal();;
                            }
                        }
                    },
                    header: {
                        left: 'prev today next',
                        center: 'title',
                        right: 'addButton dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    events: events,
                    eventClick: function(calEvent) {
                        //console.log(calEvent);
                        $('#resInfo #eventTitle').text(calEvent.event.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Confirmed reservation: </b>' 
                            + (calEvent.event.extendedProps.isconfirmed ? 'Yes' : 'No')));
                        $description.append($('<p/>')
                            .html('<b>Start:</b>' + calEvent.event.start.toLocaleString("en-US")));
                        if (calEvent.event.end != null) {
                            $description.append($('<p/>')
                                .html('<b>End:</b>' + calEvent.event.end.toLocaleString("en-US")));
                        }
                        $description.append($('<p/>').html('<b>Description: </b>' + calEvent.event.extendedProps.description));
                        $('#resInfo #pDetails').empty().html($description);

                        $('#resInfo').modal();
                    }

                });

                calendar.render();
            }
        })
    </script>
}
