@using AspPlanApp.Controllers
@using AspPlanApp.Models.DbModels
@using Microsoft.AspNetCore.Rewrite.Internal
@model AspPlanApp.Models.ManageUsersViewModels.EditOwnerViewModel

@{
    ViewBag.Title = "Edit Owner Info";
    Layout = "_Layout";
}


<div class="container-fluid h-100">
    <div class="h-100 align-items-center justify-content-center">
        <div class="form header-margin">          
            
            <h3>Manage Owner</h3>
            
            <form asp-action="EditOwner" asp-controller="ManageUsers">
               
                <div class="col-sm-12 col-md-6 offset-md-3">
                    <a class="ul-sub-level" href="#">User Info</a>
                    <br/>
                    <div class="data-edit hide">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div>
                            <input type="hidden" asp-for="Id"/>
                        </div>
                        <div>
                            <label asp-for="Name" class="control-label">User Name</label>
                            <input type="text" asp-for="Name" class="form-control"/>
                        </div>
                        <div>
                            <label asp-for="Email" class="control-label">Email</label>
                            <input type="email" asp-for="Email" class="form-control"/>
                        </div>
                        <div>
                            <label asp-for="OldPassword" class="control-label">Old Password</label>
                            <input type="password" asp-for="OldPassword" class="form-control"/>
                        </div>
                        <div>
                            <label asp-for="NewPassword" class="control-label">New Password</label>
                            <input type="password" asp-for="NewPassword" class="form-control"/>
                        </div>
                        <div>
                            <label asp-for="ConfirmNewPassword" class="control-label">Confirm Password</label>
                            <input type="password" asp-for="ConfirmNewPassword" class="form-control"/>
                        </div>

                        <button type="submit">Save All</button>
                        
                    </div>
                    
                </div>
                    
                
                @for (int i = 0; i < Model.Orgs.Count(); i++)
                {
                    <div class="col-sm-12 col-md-6 offset-md-3">
                        <a class="ul-sub-level" href="#">@Model.Orgs[i].orgName</a>
                        <p>@Model.Orgs[i].city</p>
                        <br/>
                        <div class="data-edit hide">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div>
                                <input type="hidden" asp-for="@Model.Orgs[i].orgId"/>
                            </div>
                            <div>
                                <label asp-for="@Model.Orgs[i].orgName" class="control-label">Company</label>
                                <input type="text" asp-for="@Model.Orgs[i].orgName" class="form-control"/>
                            </div>
                            <div>
                                <label asp-for="@Model.Orgs[i].address" class="control-label">Address</label>
                                <input type="text" asp-for="@Model.Orgs[i].address" class="form-control"/>
                            </div>
                            <div>
                                <label asp-for="@Model.Orgs[i].city" class="control-label">City</label>
                                <input type="text" asp-for="@Model.Orgs[i].city" class="form-control"/>
                            </div>
                            <div>
                                <label asp-for="@Model.Orgs[i].country" class="control-label">Country</label>
                                <input type="text" asp-for="@Model.Orgs[i].country" class="form-control"/>
                            </div>
                            <div>
                                <label asp-for="@Model.Orgs.[i].phoneNumber" class="control-label">Phone</label>
                                <input type="tel" asp-for="@Model.Orgs[i].phoneNumber" class="form-control"/>
                            </div>
                            <div>
                                <label asp-for="@Model.Orgs[i].category" class="control-label">Category</label>
                                <select asp-for="@Model.Orgs[i].category" class="form-control">
                                    <option value="" disabled selected>Select Category</option>
                                    @foreach (Category cat in ViewBag.CatList)
                                    {
                                        if (cat.catId == Model.Orgs[i].category)
                                        {
                                            <option value="@cat.catId" selected="selected">@cat.catName</option>
                                        }
                                        else
                                        {
                                            <option value="@cat.catId">@cat.catName</option>
                                        }
                                        
                                    }
                                </select>
                            </div>
                            
                            <div>
                                <a class="ul-sub-level" href="#">Staff List</a>
                                <div class="data-edit hide">
                                    @foreach (var staff in Model.Staff.Where(w => w.orgId == Model.Orgs[i].orgId))
                                    {
                                        <div class="list-card-item">
                                            <div class="list-card-content row">
                                                <div class="col-8" style="margin: auto;">@staff.userName</div>
                                                <div>
                                                    @if (!@staff.isConfirm)
                                                    {
                                                        <a id="js-confirmStatus" 
                                                           href="#" title="Confirm new staff"
                                                        >
                                                            <i class="fas fa-user-check" 
                                                               id="js-ConfirmStaff"
                                                               orgId="@staff.orgId"
                                                               staffId="@staff.staffId" 
                                                               style="color: green;"></i>
                                                        </a>
                                                    }
                                                    <a href="#" title="Remove staff from Company">
                                                        <i class="fas fa-user-times" 
                                                           id="js-RemoveStaff"
                                                           orgId="@staff.orgId"
                                                           staffId="@staff.staffId" 
                                                           style="color: red;"></i>
                                                    </a>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            
                            <button type="submit" >Save All</button>   
                            <a href="#" 
                               orgId = "@Model.Orgs[i].orgId" 
                               class="js-delOrg bt-danger">Delete Company @Model.Orgs[i].orgName</a>
                            <hr/>
                        </div>
                        
                    </div>                     
                }
            </form>
            
            <button type="button" class="btn col-sm-12 col-md-2" data-toggle="modal" data-target="#modal-new-org">
                Add Company
            </button>
            
        </div>
    </div>

<!-- Modal -->
    <div class="modal fade" id="modal-new-org" tabindex="-1" role="dialog" aria-labelledby="modal-new-orgTitle" aria-hidden="true">
        
        <form asp-action="AddNewOrg" asp-controller="ManageUsers">
            
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header" >
                        <h5 class="modal-title" id="addNewOrg">Adding New Company</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form col-sm-12" style="box-shadow: none; padding: 0 30px;">
                            <div class="data-edit">
                                <div>
                                    <label name="orgName" class="control-label">Company</label>
                                    <input type="text" name="orgName" class="form-control"/>
                                </div>
                                <div>
                                    <label name="address" class="control-label">Address</label>
                                    <input type="text" name="address" class="form-control"/>
                                </div>
                                <div>
                                    <label name="city" class="control-label">City</label>
                                    <input type="text" name="city" class="form-control"/>
                                </div>
                                <div>
                                    <label name="country" class="control-label">Country</label>
                                    <input type="text" name="country" class="form-control"/>
                                </div>
                                <div>
                                    <label name="phoneNumber" class="control-label">Phone</label>
                                    <input type="tel" name="phoneNumber" class="form-control"/>
                                </div>
                                <div>
                                    <label name="category" class="control-label">Category</label>
                                    <select name="category" class="form-control">
                                        <option value="" disabled selected>Select Category</option>
                                        @foreach (Category cat in ViewBag.CatList)
                                        {
                                            <option value="@cat.catId">@cat.catName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
<!-- ------------------------------------------------- -->

</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>

        $(document).on('click',
            '.ul-sub-level',
            function(e) {

                e.preventDefault();

                var editDiv = $(this).closest('div').find('.data-edit').first();

                if (editDiv.hasClass('hide')) {
                    editDiv.removeClass('hide');
                } else {
                    editDiv.addClass('hide');
                }

            });

        $(document).on('click',
            '#js-RemoveStaff',
            function(e) {

                e.preventDefault();

                var currObj = $(this);
                var orgId = currObj.attr("orgId");
                var staffId = currObj.attr("staffId");

                var request = $.ajax({
                    url: "@Url.Action("RemoveStaff", "ManageUsers")",
                    method: "POST",
                    data: {
                        orgId: orgId,
                        staffId: staffId
                    }
                });

                request.done(function(msg) {
                    if (msg.result === true) {
                        currObj.closest(".list-card-item").remove();
                    }
                });

                request.fail(function(jqXHR, textStatus) {
                    alert("Request failed: " + textStatus);
                });

            });

        $(document).on('click',
            '#js-ConfirmStaff',
            function(e) {

                e.preventDefault();

                var currObj = $(this);
                var orgId = currObj.attr("orgId");
                var staffId = currObj.attr("staffId");

                var request = $.ajax({
                    url: "@Url.Action("ConfirmNewStaff", "ManageUsers")",
                    method: "POST",
                    data: {
                        orgId: orgId,
                        staffId: staffId
                    }
                });

                request.done(function(msg) {
                    if (msg.result === true) {
                        currObj.closest("#js-confirmStatus").remove();
                    }
                });

                request.fail(function(jqXHR, textStatus) {
                    alert("Request failed: " + textStatus);
                });

            });

        $(document).on('click',
            '.js-delOrg',
            function(e) {
                e.preventDefault();

                var msgText = $(this).html();
                if (confirm(msgText + '?')) {

                    var orgId = $(this).attr('orgId');
                    var request = $.ajax({
                        url: "@Url.Action("DeleteOrg", "ManageUsers")",
                        method: "DELETE",
                        data: {
                            orgId: orgId
                        }
                    });
                    
                    request.done(function(msg) {
                        if (msg.result === true) {
                            location.reload();
                        }
                    });

                    request.fail(function(jqXHR, textStatus) {
                        alert("Request failed: " + textStatus);
                    });

                }
            });


    </script>
}


